@using RNPM.Common.ViewModels.Core
@using RNPM.Common.Data.Enums
@{
    ViewData["Title"] = "Navigations";
    Layout = "_Layout";
    var navigations = (IEnumerable<NavigationViewModel>)ViewBag.Navigations;
}

<div id="content" class="app-content">
    <ol class="breadcrumb float-xl-end"></ol>
    
    <h1 class="page-header">Navigation Performance</h1>
    
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <h4 class="panel-title">Managed Navigations</h4>
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
            </div>
        </div>
        
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>From Screen</th>
                            <th>To Screen</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (navigations != null && navigations.Any())
                        {
                            foreach (var navigation in navigations)
                            {
                                <tr>
                                    <td>@navigation.FromScreen</td>
                                    <td>@navigation.ToScreen</td>
                                @*
                                    <td>@(navigation.Average.ToString("###.000") ?? "N/A") ms</td>
                                    *@
                                    <td>
                                        <a href="@Url.Action("Details", "Navigations", new { id = navigation.Id })" class="btn btn-sm btn-primary">
                                            <i class="fa fa-search me-1"></i> Details
                                        </a>
                                        <a href="@Url.Action("DeleteNavigation", "Navigations", new { id = navigation.Id })" class="btn btn-sm btn-danger ms-1">
                                            <i class="fa fa-trash me-1"></i> Delete
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5" class="text-center">No navigations found</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>